// $body-bg: #f2f2f2;
// $primary: #3BA5DC;
// $secondary: #FF3697;
// $danger: #EB5757;
// $success: #27AE60;
// $warning: #FF7F50;
// $info: #00C9BD;
// $dark: #313130;

$body-bg: #6dd3ff;
$primary: #ffc165;
$secondary: #e09d5f;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #c5f5ff;
$dark: #313130;